<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     
      <!--class name="testngPractice.invocationCountTest"/>
      <class name="testngPractice.TestNGDependencies"/>
      <class name="databsepractice.ConnectMySQL"/>
      <class name="listeners.TestClass"/>
      <class name="SeleniumBasics.HandlingTabsAndWindows"/>
      <class name="customlisteners.RetryTest"/>
      <class name="testngPractice.testngTest_2"/>
      <class name="icertis.BaseTest"/>
      <class name="testngPractice.testngTest_1"/>
      <class name=".ParametersWithDataProviders"/>
      <class name="SeleniumBasics.HandlingMultipleValuesFromDropDown"/>
      <class name=".DependsOnMethodsTest"/>
      <class name="testngPractice.TestNGTest"/>
      <class name="paralleltest.ParalleTestDataProvider"/>
      -->
      <class name="icertis.TestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
